@model int

@{
	ViewBag.Title = "404 ERROR";
}

<div class="alert alert-danger mt-2 mb-2">
	<h4 class="mb-1">ERROR : 404 NOT FOUND</h4>
	<hr />
	<h5>Hero with ID = @Model cannot be found</h5>
</div>
<a asp-controller="Home" asp-action="List" class="btn btn-outline-success" style="width: auto">
	Click here to see the list of Heros
</a>