@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employees List";
}

<div class="row justify-content-center">
    @foreach(var employee in Model)
    {
        var photoPath = "~/imgs/" + (employee.PhotoPath ?? "profile.jpg");

        <div class="card m-3 col-3-sm">

            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>

            <img class="card-img-top imageThumbnail" style="padding:10%" src="@photoPath" asp-append-version="true">
            
            <div class="card-footer text-center" >
                <a asp-controller="home" asp-action="details", asp-route-id = "@employee.Id"
                    class = "btn btn-primary m-1">View</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                <a href="#" class = "btn btn-danger m-1">Delete</a>
            </div>

        </div>
    }
    
</div>