@model IndexSearchViewModel

@{
    ViewBag.Title = "Employees List";
}




<style>
    img:hover {
        transform: scale(1.2); /* Scale the image by 10% on hover */
    }
    
    img {
        transition: transform 0.3s ease-in-out; /* Add a smooth transition to the transform property */
    }
</style>


<div class="row justify-content-center">
    @for (int i = 0; i < Model.Count; ++i)
    {
        var photoPath = "~/imgs/" + (Model[i].PhotoPath ?? "profile.jpg");

        <div class="card-container">
            <div id="hero-card" class="card m-3 col-3-sm">

                <div class="card-header">
                    <h3>@Model[i].Name</h3>
                </div>

</div>
<div class="search-box mb-5">
    <form method="post" asp-action="List" >
        <div class="form-group">
            <input type="text" class="form-control" asp-for="SearchQuery">
			<span asp-validation-for="SearchQuery"></span>
        </div>
        <button asp-route-query="@Model.SearchQuery" type="submit" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
    </form>
</div>
