@inject SignInManager<ApplicationUser> signInManager;

<!doctype html>
<html lang="en">
  <head>
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Explora&family=Tilt+Prism&display=swap" rel="stylesheet">
	<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/style.css">

  </head>
  <body>
    
    <div class="parent">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="width:100%">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    HERO GALLERY
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span> 
                </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="List" class="nav-link">LIST</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Create" class="nav-link">CREATE</a>
                        </li>

                        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Super Admin")))
                        {   
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false" role="button">
                                    MANAGE
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li>
                                        <a asp-controller="Adminstration" asp-action="UsersList" class="dropdown-item">USERS</a>
                                    </li>

                                    <li>
                                        <a asp-controller="Adminstration" asp-action="RolesList" class="dropdown-item">ROLES</a>
                                    </li>
                                </ul>
                            </li>

                        }

                    </ul>

                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        LOGOUT <b>@User.Identity.Name</b>
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link">LOGIN</a>
                            </li>

                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Register" class="nav-link">REGISTER</a>
                            </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>

    <div class="container">
        <div>
            @RenderBody()

        </div>
    </div>
    <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="~/lib/jquery/jquery.min.js"></script>
	<script src="~/lib/jquery-validate/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>

    </div>

    @if(IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true);
    }
</body>
</html>