@{
	ViewBag.Title = "Not Found";
}


<div class="mt-2">
	<h3>@ViewBag.ErrorMessage</h3>

	<a class="btn btn-outline-secondary" asp-action="index" asp-controller="home" style="width:auto ">
		Click here to navigate to the home page
	</a>
</div>