@model ForgotPasswordViewModel

<form method="post" asp-action="ForgotPassword">
	<div class="form-group">
		<label class="form-label" asp-for="Email"></label>
		<input class="form-control" asp-for="Email" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-outline-primary">Submit</button>
</form>