:root {
  --dark-primary: Black;
  --red-primary: rgb(111, 34, 50);
  --gradient-red: linear-gradient(
    135.8deg,
    var(--dark-primary) 40.1%,
    var(--red-primary) 77.5%
  );
  --gradient-blue: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(83, 147, 184, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--dark-primary);
}

.bg-dark {
  background: var(--gradient-red);
}

.btn {
  width: 75px;
}

.text-danger {
  color: var(--red-primary) !important;
}

.imageThumbnail {
  height: 200px;
  width: auto;
}

.card-header,
.card-footer {
  text-align: center;
  color: black;
}

.card-header {
  background-color: var(--dark-primary);
  color: white;
  text-transform: uppercase;
}

.card-container {
  margin-bottom: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-footer {
  background-color: black;
}

.btn-outline-secondary {
  color: white;
}

.btn-outline-secondary:hover {
  color: var(--dark-primary);
  background-color: white;
}

.btn-outline-primary:hover {
  background: rgb(2, 0, 36);
  background: var(--gradient-blue);
  border: none;
}

.btn-outline-danger {
  color: var(--red-primary);
  border-color: var(--red-primary);
}

.btn-outline-danger:hover {
  color: white;
  background-color: var(--red-primary);
  border-color: var(--red-primary);
}

.landing {
  background-image: url("../imgs/background2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 56px;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.search-box {
  margin-top: 420px;
  z-index: 100;
}

.landing-text {
  color: white;
  text-align: center;
  margin: 25px;
}

.form-control {
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
}

label {
  color: white;
}

a {
  color: #a3a3a3;
}

.card {
  background-color: transparent;
  outline: 2px solid rgb(42, 42, 42);
}

.custom-select,
.custom-file {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  color: white;
}

table {
  color: white;
}

.page-link {
  background-color: transparent !important;
  color: white;
  border-color: var(--red-primary);
}

.page-link:hover {
  border-color: transparent;
  background: var(--gradient-red);
  color: white;
}

.page-item.active .page-link {
  background-color: var(--gradient-red);
  border-color: white;
}

.form-check-input {
  background-color: transparent;
}

.form-control:disabled {
  background-color: transparent;
}

.modal-content {
  background-color: black;
  color: white;
  border: 1px solid white;
}
